extends layout

block content
  script(src='/javascripts/steamnode.js')
  h1= title 
  button.stop_processing Stop Processing
  button.clear_cache Clear Cache
  p Games for #{user} -- #{games.length} games queried
  table#games.tablesorter
    thead
      tr
        th Game
        th Game ID
        th Hardest Cheevo Global Percentage
    tbody.games
      each game in games
        tr(class="game_#{game.appid}")
          td= allGames[game.appid]
          td
            a(href= "http://store.steampowered.com/app/#{game.appid}/", target="_blank")= game.appid
          td= "calculating..."