extends layout

block content
  script(src='/javascripts/steamnode.js')
  h1= title
  p Games for #{title} -- #{games.length} games listed
  table.games
    each game in games
      tr(class="game_#{game.appid}")
        td= allGames[game.appid]
        td= game.appid
        td= "calculating..."